<h2>My Profile</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <div class="text-center">
    <%= image_tag @user.avatar.url(:thumb) %><hr />
  </div>
  <div class="form-group">
    <%= f.label :avatar, "Profile photo" %>
    <%= f.file_field :avatar, class: "form-control-file" %><br />
  </div>
  <div class="form-group row">
    <div class="col-sm-6">
      <%= f.label :last_name %>
      <%= f.text_field :last_name, class: "form-control"%>
    </div>

    <div class="col-sm-6">
      <%= f.label :first_name %>
      <%= f.text_field :first_name, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :position %>
    <%= f.text_field :position, class: "form-control" %>
  </div>

  <div class = "form-group">
    <%= f.label :department %>
    <%= f.select(:department_id,
      Department.all.order(:name).collect{|d| [ d.name, d.id] },
      { include_blank: false}, { class:"form-control" }) %>
  </div>

  <br/><hr/>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :username %><br />
    <%= f.text_field :username, class: "form-control" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="form-group row">
    <div class="col-xs-6">
      <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
      <%= f.password_field :password, autocomplete: "off",
        class: "form-control"%>
    </div>

    <div class="col-xs-6">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off",
        class: "form-control"%>
    </div>
  </div>

  <hr />
<!-- Modal Buttons -->
  <div class="text-center">
    <button type ="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#updateUser">
      Update
    </button>
  </div>

  <div class="modal fade" id="updateUser" tabindex="-1" role="dialog"
   aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"
          aria-hidden="true">&times;</button>
          <h4 class="modal-title">
            Please Enter Current Password for Confirmation
          </h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
            <%= f.password_field :current_password, autocomplete: "off",
              required: true, autofocus: true, class: "form-control" %>
          </div>
        </div>
        <div>
          <button type="button" class="btn btn-default" data-dismiss="modal">
            Cancel
          </button>
          <%= f.submit "Update", class: "btn btn-primary"%>
        </div>
      </div>
    </div>
  </div>
<!--Modal buttons end-->
<% end %>

<hr />

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %></p>
