<p id="notice"><%= notice %></p>
<div class="col-md-10">
<h1>Departments</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="2"></th>
      <th>
        <%= link_to new_department_path, class: "btn btn-success" do %>
          <span class="glyphicon glyphicon-plus"></span>
        <% end %>
      </th>
    </tr>
  </thead>

  <tbody>
    <% @departments.each do |department| %>
      <tr>
        <td><%= department.name %>
            <span class="badge">
              <%= @department_badge[department.id] %>
            </span>
        </td>

        <td><%= link_to department, class: "btn btn-primary" do %>
          <span class="glyphicon glyphicon-search"></span>
        <% end %></td>

        <td><%= link_to edit_department_path(department),
          class: "btn btn-success" do %>
          <span class="glyphicon glyphicon-edit"></span>
        <% end %></td>

        <td><%= link_to department, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" do %>
          <span class="glyphicon glyphicon-trash"></span>
        <% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>
  <%= paginate @departments %>
<hr />
<br>
</div>
