<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @department.name %>
</p>
<div class = "container">
<table class = "table table-striped">
  <thead>
    <tr>
      <th>Last Name</th>
      <th>First Name</th>
      <th>Position</th>
    </tr>
  </thead>
  <tbody>
    <%= list_all_users(@department).html_safe %>
  </tbody>
</table>
</div>

<hr />

<%= link_to 'Edit', edit_department_path(@department) %> |
<%= link_to 'Back', departments_path %>
