<% @posts.each do |post| %>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          <%= image_tag post.user.avatar.url(:thumb) %><br />
          <a href='<%= "/users/#{post.user.id}" %>'>
            <%= post.user.first_name %> <%= post.user.last_name %>
          </a><br />
          <a href='<%= "/departments/#{post.user.department.id}"%>'>
            <%= post.user.department.name%>
          </a><br />
          <span class="publish-date">
            Posted at: <%= formatted_post_creation_time(post.created_at) %>
          </span>
        </div>
        <div class="col-md-8">
          <p><%= post.post %></p>
        </div>
      </div>
      <hr />
    </div>
<% end %>
